<% include ../../common/_variable %>
<%
	page_id = 'products-single';
	page_title = 'products single item | ' + site_title;
  page_url = site_url + '/products-single/';
  distPath = '../';
%>

<!DOCTYPE html>
<html lang=ja>
	<% include ../../common/_head %>

	<body class="<%= page_id %>">
		<% include ../../common/_header %>
		<main class="p-products">
			<section>
				<div class="p-mainvisual">
					<div class="p-products__hero">
						<div class="c-hd__img">
							<%- include('../../module/_hd-01',{
							hd_txt : '商品のご紹介',
							hd_EN_txt : 'products'
						}); %>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="l-contents">
					<div class="l-wapper">
						<%- include('../../module/_hd-02-02',{
              	hd_txt : '単品商品一覧'
            }); %>
						<div class="p-products__nav">
							<ul class="p-products__nav-list">
								<li class="p-products__nav-item"><a class="c-btn" href="#yamaho">ヤマホ醤油</a></li>
								<li class="p-products__nav-item"><a class="c-btn" href="#tamari">たまり漬け</a></li>
								<li class="p-products__nav-item"><a class="c-btn" href="#dashi">だし醤油</a></li>
								<li class="p-products__nav-item"><a class="c-btn" href="#yakisoba">焼きそば醤油</a></li>
								<li class="p-products__nav-item"><a class="c-btn" href="#yakiniku">焼肉のたれ</a></li>
								<li class="p-products__nav-item"><a class="c-btn" href="#jinkichi">甚吉袋</a></li>
								<li class="p-products__nav-item"><a class="c-btn" href="#other">その他</a></li>
							</ul>
						</div>

						<div id="yamaho" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'YAMAHO SHOYU',
                hd_round_txt : 'ヤ',
                hd_txt : 'マホ醤油'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/yamaho.jpg" alt="">
										</div>
										<h4 class="p-products__tit">蔵出し醤油</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/yamaho.jpg" alt="">
										</div>
										<h4 class="p-products__tit">丸大豆醤油</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/yamaho.jpg" alt="">
										</div>
										<h4 class="p-products__tit">丸大豆醤油</h4>
									</a>
								</li>
							</ul>
						</div>

						<div id="tamari" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'TAMARI ZUKE',
                hd_round_txt : 'た',
                hd_txt : 'まり漬け'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">無臭にんにく</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">ミックス<br><span
												class="p-products__tit--sub">（大根・きゅうり・なす・しょうが）</span>
										</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">大根</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">きゅうり</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">ピリ辛しゃくし菜</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">らっきょ</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">甘口らっきょ</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">しょうが</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">ゴボウ</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">無臭にんにく</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">きざみ</h4>
									</a>
								</li>
							</ul>
						</div>

						<div id="dashi" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'DASHI SHOYU',
                hd_round_txt : 'だ',
                hd_txt : 'し醤油'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">かつおだし醤油　贅沢仕込</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">こんぶだし<br>
										</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">かつおだし</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">いりこだし</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">そばつゆ</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">そうめんつゆ</h4>
									</a>
								</li>
							</ul>
						</div>

						<div id="yakisoba" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'YAKISOBA SHOYU',
                hd_round_txt : 'や',
                hd_txt : 'きそば醤油'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">ところざわ焼きそば醤油</h4>
									</a>
								</li>
							</ul>
						</div>

						<div id="jinkichi" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'JINKICHI-BAG',
                hd_round_txt : '甚',
                hd_txt : '吉袋'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">ミニ甚吉袋</h4>
									</a>
								</li>
							</ul>
						</div>

						<div id="yakiniku" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'YAKINIKU-SAUCE',
                hd_round_txt : '焼',
                hd_txt : '肉のたれ'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">焼肉のたれ 醤油味</h4>
									</a>
								</li>
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/dashi.jpg" alt="">
										</div>
										<h4 class="p-products__tit">焼肉のたれ 味噌味</h4>
									</a>
								</li>
							</ul>
						</div>

						<div id="other" class="p-products__block">
							<%- include('../../module/_hd-03',{
                hd_EN_txt : 'OTHERS',
                hd_round_txt : 'そ',
                hd_txt : 'の他'
              }); %>
							<ul class="p-products__list">
								<li class="p-products__item">
									<a class="p-products__link" href="<%= distPath %>">
										<div class="p-products__img-wrap">
											<img class="p-products__img"
												src="<%= distPath %>assets/img/products/tamari.jpg" alt="">
										</div>
										<h4 class="p-products__tit">所沢牛カレー</h4>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</section>

			<div class="c-breadcrumb">
				<ul class="c-breadcrumb__block">
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link" href="<%= distPath %>">HOME</a></li>
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link"
							href="<%= distPath %>products-single">単品商品一覧</a></li>
				</ul>

			</div>



		</main>

		<% include ../../common/_footer %>
		<% include ../../common/_js %>
	</body>

</html>
