<% include ../../common/_variable %>
<%
	page_id = 'company';
	page_title = 'company | ' + site_title;
  page_url = site_url + '/company/';
  distPath = '../';
%>

<!DOCTYPE html>
<html lang=ja>
	<% include ../../common/_head %>

	<body class="<%= page_id %>">
		<% include ../../common/_header %>
		<main class="p-company">

			<section>
				<div class="p-mainvisual">
					<div class="p-company__hero">
						<div class="c-hd__img">
							<%- include('../../module/_hd-01',{
							hd_txt : '会社概要',
							hd_EN_txt : 'company profile'
						}); %>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="l-wapper">
					<div class="l-contents">

						<div class="p-company__nav">
							<ul class="p-company__nav--list">
								<li class="p-company__nav--item"><a class="p-company__nav--link"
										href="javascript:void(0)">事業内容・沿革</a>
								</li>
								<li class="p-company__nav--item"><a class="p-company__nav--link"
										href="javascript:void(0)">代表メッセージ</a>
								</li>
								<li class="p-company__nav--item is-current"><a class="p-company__nav--link"
										href="javascript:void(0)">会社概要</a></li>
							</ul>

						</div>


						<div class="p-company__history p-company__tab">
							<%- include('../../module/_hd-02-02',{
              	hd_txt : '事業内容・沿革'
            }); %>

							<div class="p-company--block">
								<h3 class="p-company__tit">江戸時代末期から所沢で続く醤油蔵</h3>
								<p class="p-company__txt">屋号は「ヤマホ」。初代の名前が「保平（やすへい）」であったことに由来する。
									明治27年に定められた所沢「焼き団子組合」の「申し合わせ事項」に「醤油は所沢産のヤマホに限る」と謳われるなど、長
									年にわたり所沢の食文化を支え続けてきた。</p>
								<p class="p-company__txt">
									昭和53年、「たまり漬け」の販売を開始。その後「だし醤油」「「炊き込みご飯の素」など小売用商品を拡充。一般消費のみならず、贈答品としても多く愛用されている。</p>
								<p class="p-company__txt">
									平成29年、所沢市の老舗製麺業者「三澤食品」と新ご当地グルメ「ところざわ醤油焼きそば」を開発。「ところざわ醤油焼きそば」を筆頭に、地場飲食店や食品製造業の地産地消メニューに当社の醤油が多数使用されている。
								</p>
							</div>

							<div class="p-company--block">
								<ul class="p-company__list">
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">安政3年（1856年）</dt>
											<dd class="p-company__item--txt">創業</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">明治27年（1894年）</dt>
											<dd class="p-company__item--txt">焼きだんご組合「申し合わせ事項」が定められる。</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">明治33年（1900年）</dt>
											<dd class="p-company__item--txt">酒類卸売業を開始</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">大正4年（1915年）</dt>
											<dd class="p-company__item--txt">ビール販売を開始</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">昭和27年（1915年）</dt>
											<dd class="p-company__item--txt">会社成立</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">昭和53年（1878年）</dt>
											<dd class="p-company__item--txt">「たまり漬（しょうゆ漬）」の直売所開店（後の「深井醤油本店」）</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">昭和61年（1986年）</dt>
											<dd class="p-company__item--txt">西武所沢店オープン</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">平成29年（2017年）</dt>
											<dd class="p-company__item--txt">新ご当地グルメ「ところざわ醤油焼きそば」を開発</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">令和元年（2019年）</dt>
											<dd class="p-company__item--txt">所沢市北岩岡に加工所移転</dd>
										</dl>
									</li>
									<li class="p-company__item">
										<dl class="p-company__column">
											<dt class="p-company__item--tit">令和2年（2020年）</dt>
											<dd class="p-company__item--txt">本店リニューアルオープン</dd>
										</dl>
									</li>
								</ul>
							</div>

						</div>

						<div class="p-company__message p-company__tab">
							<%- include('../../module/_hd-02-02',{
              	hd_txt : '代表メッセージ'
            }); %>

							<div class="p-company--block">
								<h3 class="p-company__tit">タイトルタイトルタイトルタイトル</h3>
								<p class="p-company__txt">
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
								</p>
								<p class="p-company__txt">
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
								</p>
								<p class="p-company__txt">
									テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
								</p>
								<img class="p-company__img" src="http://placehold.jp/890x550.png" alt="">
							</div>
						</div>

						<div class="p-company__overview p-company__tab is-active">
							<%- include('../../module/_hd-02-02',{
              	hd_txt : '会社概要'
            }); %>

							<ul class="p-company--block">
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">創業</dt>
										<dd class="p-company__item--txt">安政3年（1856年）8月</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">社名</dt>
										<dd class="p-company__item--txt">深井醤油株式会社</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">代表者</dt>
										<dd class="p-company__item--txt">深井保壽（5代目）社長</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">所在地</dt>
										<dd class="p-company__item--txt">埼玉県所沢市有楽町7番5号</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">TEL</dt>
										<dd class="p-company__item--txt">04-2924-2015</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">FAX</dt>
										<dd class="p-company__item--txt">04-2928-9517</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">業種</dt>
										<dd class="p-company__item--txt">醤油・漬物製造販売業</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">主製品</dt>
										<dd class="p-company__item--txt">醤油・だし醤油・焼肉のたれ・たまり漬け・焼きそば醤油</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">会社創立</dt>
										<dd class="p-company__item--txt">所沢市北岩岡に加工所移転</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">資本金</dt>
										<dd class="p-company__item--txt">1000万円</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">主用取引銀行</dt>
										<dd class="p-company__item--txt">埼玉りそな銀行・みずほ銀行</dd>
									</dl>
								</li>
								<li class="p-company__item">
									<dl class="p-company__column">
										<dt class="p-company__item--tit">店舗数・従業員数</dt>
										<dd class="p-company__item--txt">22人（パート・アルバイト含む）</dd>
									</dl>
								</li>
							</ul>

						</div>

					</div>
				</div>
			</section>

			<div class="c-breadcrumb">
				<ul class="c-breadcrumb__block">
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link" href="<%= distPath %>">HOME</a></li>
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link" href="<%= distPath %>company">会社概要</a>
					</li>
				</ul>

			</div>



		</main>

		<% include ../../common/_footer %>
		<% include ../../common/_js %>
	</body>

</html>
