<footer class="l-footer">
	<div class="l-footer__inner">
		<p class="p-pagetop"><a class="p-pagetop__link" href="#" title="PageTop">PageTop</a></p>
		<ul class="p-gnav p-footer__nav">
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link" href="<%= distPath %>about">深井醤油について</a>
			</li>
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link"
					href="<%= distPath %>products-single">商品のご紹介</a>
			</li>
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link" href="<%= distPath %>information">店舗情報</a>
			</li>
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link" href="<%= distPath %>recipe">レシピ</a></li>
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link" href="<%= distPath %>news">お知らせ</a></li>
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link" href="<%= distPath %>company">会社概要</a>
			</li>
			<li class="p-gnav__item p-footer"><a class="p-footer__nav--link" href="<%= distPath %>contact">お問い合わせ</a>
			</li>
			<li class="p-gnav__item p-footer p-gnav__onlineshop"><a class="p-footer__nav--link"
					href="<%= distPath %>products-single">オンラインショップ</a>
			</li>
			<li class="p-gnav__item p-footer"><a class="p-gnav__link" href="<%= distPath %>"><i
						class="fab fa-facebook-square"></i></a>
			</li>
		</ul>
		<small class="p-copyright">&copy;2020 Fukai Shoyu. All rights reserved.</small>
	</div>
</footer>
