<% include ../../common/_variable %>
<%
	page_id = 'about';
	page_title = 'about | ' + site_title;
  page_url = site_url + '/about/';
  distPath = '../';
%>

<!DOCTYPE html>
<html lang=ja>
	<% include ../../common/_head %>

	<body class="<%= page_id %>">

		<% include ../../common/_header %>

		<main class="p-about">
			<section>
				<div class="p-mainvisual">
					<div class="p-about__hero">
						<div class="l-wapper">
							<%- include('../../module/_hd-01',{
							hd_txt : '深井醤油について',
							hd_EN_txt : 'about'
						}); %>
							<ul class="p-about__hero-list">
								<li class="p-about__hero-item">
									<dl>
										<dt class="p-about__hero-tit">食を通じて、お客様に<br>笑顔と感動をお届けします。</dt>
										<dd class="p-about__hero-txt">
											たかが醤油、されど醤油。<br>いつもの食卓に、一味違った彩りで<br>ささやかな驚きを、<br>そんな気持ちで作っています。</dd>
									</dl>
								</li>
								<li class="p-about__hero-item">
									<dl>
										<dt class="p-about__hero-tit">時代を超えて食文化を<br>支え続けます。</dt>
										<dd class="p-about__hero-txt">
											古くは焼き団子、<br>そして今はたまり漬けや<br>所沢焼きそばなど、<br>伝統を守りながら、<br>新たな味への挑戦を続けています。</dd>
									</dl>
								</li>
								<li class="p-about__hero-item">
									<dl>
										<dt class="p-about__hero-tit">地域社会とともに<br>成長します。</dt>
										<dd class="p-about__hero-txt">
											所沢で生まれ育った味を、<br>地域のみなさんに知ってもらいたい。<br>イベント屋台の出店や、<br>食育などにも力を入れています。</dd>
									</dl>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="l-contents--s">
					<div class="p-about-seasoning">
						<h2 class="p-about-seasoning__hd">深井醤油は、醤油を通して『三つの調味料』をお届けします。</h2>

						<ul class="p-about-seasoning__list">
							<li class="p-about-seasoning__item">
								<span class="p-about-seasoning__num">1</span>
								<div class="p-about-seasoning__box">
									<h3 class="p-about-seasoning__tit">食の調味料</h3>
									<p class="p-about-seasoning__mes">
										醤油だけでは料理になりません。<br>いろいろな食材と出会い、調和し、<br>はじめておいしい料理となって食卓に並びます。</p>
								</div>
								<a class="c-btn__re" href="<%= distPath %>recipe">レシピ集へ</a>
							</li>
							<li class="p-about-seasoning__item">
								<span class="p-about-seasoning__num">2</span>
								<div class="p-about-seasoning__box">
									<h3 class="p-about-seasoning__tit">まちの調味料</h3>
									<p class="p-about-seasoning__mes">
										醤油屋だけでは街になりません。<br>街の人々や商店、イベントと調和して<br>街に彩りを提供します。
									</p>
								</div>
								<a class="c-btn__re" href="<%= distPath %>">FaceBookへ</a>
							</li>
							<li class="p-about-seasoning__item">
								<span class="p-about-seasoning__num">3</span>
								<div class="p-about-seasoning__box">
									<h3 class="p-about-seasoning__tit">人生の調味料</h3>
									<p class="p-about-seasoning__mes">
										醤油だけでは料理になりません。<br>いろいろな食材と出会い、調和し、<br>はじめておいしい料理となって食卓に並びます。</p>
								</div>
								<a class="c-btn__re" href="<%= distPath %>">FaceBookへ</a>
							</li>
						</ul>

					</div>
				</div>
			</section>
			<section>
				<div class="p-about__history">

					<div class="p-about__history-hd">
						<div class="c-hd__img">
							<%- include('../../module/_hd-02',{
						  hd_class:'p--re',
							hd_txt : '歴史',
							hd_EN_txt : 'history'
						}); %>
						</div>
					</div>

					<div class="l-contents">
						<div class="l-wapper">

							<div class="p-column">
								<img class="p-column__img" src="<%= distPath %>assets/img/about/noren.jpg" alt="">
								<div class="p-column__txtbox">
									<h3 class="p-column__tit">ヤマホの由来</h3>
									<p class="p-column__txt">
										深井醤油は、安政三年（西暦1856年）より続く所沢の醤油屋です。商標の「ヤマホ」は、創業者「深井保平」の名から「保」の字を用いたことに由来します。</p>
								</div>
							</div>

							<div class="p-column p-column--re">
								<img class="p-column__img" src="<%= distPath %>assets/img/about/dango.jpg" alt="">
								<div class="p-column__txtbox">
									<h3 class="p-column__tit">焼き団子とヤマホ</h3>
									<p class="p-column__txt">
										所沢名物として有名な「焼きだんご」ですが、<br>明治27年に「焼きだんご組合」によって品質統一のために定められた8つの「申し合わせ事項」があります。「一串4個、両端は大きく、中2個は小さく作ること」「竹串は5寸5分の青竹を使用すること」など。<br>その中の一つに、「醤油は所沢産のヤマホに限る」と書かれています。創業以来、時代を超えて所沢の食文化に深く関わって来たのは、そんな理由がありました。
									</p>
								</div>
							</div>

							<div class="p-column">
								<img class="p-column__img" src="<%= distPath %>assets/img/about/now.jpg" alt="">
								<div class="p-column__txtbox">
									<h3 class="p-column__tit">そして、現在へ</h3>
									<p class="p-column__txt">
										現在では醤油ベースの秘伝の漬物液で野菜をじっくり漬け込んだ「たまり漬」や、厳選した素材からふんだんに出汁をとった「だし醤油」などの製造販売も行っております。地域のイベントへの出店や、新ご当地グルメ「ところざわ醤油焼きそば」専用醤油の開発、<br>ミニ甚吉袋（一升瓶などを持ち運ぶために使用されていた袋をミニサイズにアレンジ）の制作など、伝統の製法と味を守りながらも、常に新しい味、新しいモノ作りにチャレンジしております。
									</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</section>



			<section>
				<div class="p-top__info">
					<div class="p-top__info-hd">
						<div class="c-hd__img">
							<%- include('../../module/_hd-02',{
              hd_class:'p--re',
              	hd_txt : '店舗情報',
              	hd_EN_txt : 'shop info'

						}); %>
						</div>
					</div>



					<div class="l-wapper">
						<div class="l-contents">
							<ul class="p-card-shop__block">
								<li class="p-card-shop__box">
									<img class="p-card-shop__img" src="<%= distPath %>assets/img/top/shop.jpg" alt="">
									<div class="p-card-shop__txt">
										<span class="c-cat">直営店</span>
										<dl>
											<dt class="p-card-shop__tit">所沢本店</dt>
											<dd class="p-card-shop__info">
												<span class="p-card-shop__add">埼玉県所沢市有楽町7-5</span>
												<span class="p-card-shop__tel">0120-46-2015</span>
											</dd>
										</dl>
										<a class="c-btn" href="<%= distPath %>/information">詳細</a>
									</div>
								</li>
								<li class="p-card-shop__box">
									<img class="p-card-shop__img" src="<%= distPath %>assets/img/top/shop.jpg" alt="">
									<div class="p-card-shop__txt">
										<span class="c-cat">直営店</span>
										<dl>
											<dt class="p-card-shop__tit">所沢本店</dt>
											<dd class="p-card-shop__info">
												<span class="p-card-shop__add">埼玉県所沢市有楽町7-5</span>
												<span class="p-card-shop__tel">0120-46-2015</span>
											</dd>
										</dl>
										<a class="c-btn" href="<%= distPath %>/information">詳細</a>
									</div>
								</li>
								<li class="p-card-shop__box">
									<img class="p-card-shop__img" src="<%= distPath %>assets/img/top/shop.jpg" alt="">
									<div class="p-card-shop__txt">
										<span class="c-cat">直営店</span>
										<dl>
											<dt class="p-card-shop__tit">所沢本店</dt>
											<dd class="p-card-shop__info">
												<span class="p-card-shop__add">埼玉県所沢市有楽町7-5</span>
												<span class="p-card-shop__tel">0120-46-2015</span>
											</dd>
										</dl>
										<a class="c-btn" href="<%= distPath %>/information">詳細</a>
									</div>
								</li>
								<li class="p-card-shop__box">
									<img class="p-card-shop__img" src="<%= distPath %>assets/img/top/shop.jpg" alt="">
									<div class="p-card-shop__txt">
										<span class="c-cat">直営店</span>
										<dl>
											<dt class="p-card-shop__tit">所沢本店</dt>
											<dd class="p-card-shop__info">
												<span class="p-card-shop__add">埼玉県所沢市有楽町7-5</span>
												<span class="p-card-shop__tel">0120-46-2015</span>
											</dd>
										</dl>
										<a class="c-btn" href="<%= distPath %>/information">詳細</a>
									</div>
								</li>
							</ul>
						</div>
						<div class="p-top__story-hd">
							<h3 class="p-top__story__tit">深井醤油6代目が語る、深井醤油の深い話</h3>
							<div class="p-top__story__btn"><a class="c-btn__re" href="<%= distPath %>/story">深い話を読む</a>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="c-breadcrumb">
				<ul class="c-breadcrumb__block">
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link" href="<%= distPath %>">HOME</a></li>
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link"
							href="<%= distPath %>about">深井醤油について</a>
					</li>
				</ul>

			</div>



		</main>

		<% include ../../common/_footer %>
		<% include ../../common/_js %>
	</body>

</html>
