<% include ../../common/_variable %>
<%
	page_id = 'information';
	page_title = 'information | ' + site_title;
  page_url = site_url + '/information/';
  distPath = '../';
%>

<!DOCTYPE html>
<html lang=ja>
	<% include ../../common/_head %>

	<body class="<%= page_id %>">
		<% include ../../common/_header %>

		<main class="p-information">
			<section>
				<div class="p-mainvisual">
					<div class="p-information__hero">
						<div class="c-hd__img">
							<%- include('../../module/_hd-01',{
							hd_txt : '店舗情報',
							hd_EN_txt : 'shop info'
						}); %>
						</div>
					</div>
				</div>
			</section>

			<section>
				<div class="l-contents">
					<div class="l-wapper">

						<%- include('../../module/_hd-02-02',{
              	hd_txt : '直営店'
						}); %>

						<div class="p-information__block">
							<h3 class="p-information__name">所沢本店</h3>
							<div class="p-information__column">
								<div class="p-information__googlemap">
									<div class="c-googlemap"><iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.261683401641!2d139.46322761548763!3d35.7935085801681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ddf2907f8b93%3A0xe3d900de09a3ef0a!2z44CSMzU5LTExMTcg5Z-8546J55yM5omA5rKi5biC5pyJ5qW955S677yX4oiS77yV!5e0!3m2!1sja!2sjp!4v1584186314079!5m2!1sja!2sjp"
											width="456" height="362" frameborder="0" style="border:0;"
											allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
									</div>
								</div>
								<div class="p-information__info-box">
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">住所</dt>
										<dd class="p-information__info-contents">埼玉県所沢市有楽町7-5</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">TEL</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">FAX</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">営業時間</dt>
										<dd class="p-information__info-contents">AM9:00~PM5:30</dd>
									</dl>
									<img class="p-information__info-img"
										src="<%= distPath %>assets/img/information/shop.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="p-information__block-s">
							<h3 class="p-information__name">西武所沢 S.C.店</h3>
							<div class="p-information__column">
								<div class="p-information__googlemap">
									<div class="c-googlemap"><iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.261683401641!2d139.46322761548763!3d35.7935085801681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ddf2907f8b93%3A0xe3d900de09a3ef0a!2z44CSMzU5LTExMTcg5Z-8546J55yM5omA5rKi5biC5pyJ5qW955S677yX4oiS77yV!5e0!3m2!1sja!2sjp!4v1584186314079!5m2!1sja!2sjp"
											width="456" height="362" frameborder="0" style="border:0;"
											allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
									</div>
								</div>
								<div class="p-information__info-box">
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">住所</dt>
										<dd class="p-information__info-contents">埼玉県所沢市有楽町7-5</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">TEL</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">FAX</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">営業時間</dt>
										<dd class="p-information__info-contents">AM9:00~PM5:30</dd>
									</dl>
									<img class="p-information__info-img"
										src="<%= distPath %>assets/img/information/shop.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="p-information__margin">
							<%- include('../../module/_hd-02-02',{
              	hd_txt : '販売所'
						}); %>
						</div>

						<div class="p-information__block">
							<h3 class="p-information__name">小手指駅前 西友店</h3>
							<div class="p-information__column">
								<div class="p-information__googlemap">
									<div class="c-googlemap"><iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.261683401641!2d139.46322761548763!3d35.7935085801681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ddf2907f8b93%3A0xe3d900de09a3ef0a!2z44CSMzU5LTExMTcg5Z-8546J55yM5omA5rKi5biC5pyJ5qW955S677yX4oiS77yV!5e0!3m2!1sja!2sjp!4v1584186314079!5m2!1sja!2sjp"
											width="456" height="362" frameborder="0" style="border:0;"
											allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
									</div>
								</div>
								<div class="p-information__info-box">
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">住所</dt>
										<dd class="p-information__info-contents">埼玉県所沢市有楽町7-5</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">TEL</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">FAX</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">営業時間</dt>
										<dd class="p-information__info-contents">AM9:00~PM5:30</dd>
									</dl>
									<img class="p-information__info-img"
										src="<%= distPath %>assets/img/information/shop.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="p-information__block-s">
							<h3 class="p-information__name">食の駅 所沢店（ファームドゥ）</h3>
							<div class="p-information__column">
								<div class="p-information__googlemap">
									<div class="c-googlemap"><iframe
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3236.261683401641!2d139.46322761548763!3d35.7935085801681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018ddf2907f8b93%3A0xe3d900de09a3ef0a!2z44CSMzU5LTExMTcg5Z-8546J55yM5omA5rKi5biC5pyJ5qW955S677yX4oiS77yV!5e0!3m2!1sja!2sjp!4v1584186314079!5m2!1sja!2sjp"
											width="456" height="362" frameborder="0" style="border:0;"
											allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
									</div>
								</div>
								<div class="p-information__info-box">
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">住所</dt>
										<dd class="p-information__info-contents">埼玉県所沢市有楽町7-5</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">TEL</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">FAX</dt>
										<dd class="p-information__info-contents">0120-46-2015</dd>
									</dl>
									<dl class="p-information__info-column">
										<dt class="p-information__info-tit">営業時間</dt>
										<dd class="p-information__info-contents">AM9:00~PM5:30</dd>
									</dl>
									<img class="p-information__info-img"
										src="<%= distPath %>assets/img/information/shop.jpg" alt="">
								</div>
							</div>
						</div>

						<div class="p-information__online">
							<div class="p-information__online--block">
								<div class="p-information__online--tit-sub">オンライン通販</div>
								<h3 class="p-information__online--tit">深井醤油公式WEbサイト<br>オンラインショップ</h3>
								<div class="p-information__online--txt">ご家庭用・ご進物用など、用途に合わせてご利用いただけます。</div>
								<div class="p-information__online--btn"><a class="c-btn__re"
										href="<%= distPath %>products-single">Shop
										Now</a></div>
							</div>
						</div>

					</div>
				</div>
			</section>

			<div class="c-breadcrumb">
				<ul class="c-breadcrumb__block">
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link" href="<%= distPath %>">HOME</a></li>
					<li class="c-breadcrumb__list"><a class="c-breadcrumb__link"
							href="<%= distPath %>information">店舗情報</a></li>
				</ul>

			</div>



		</main>
		<% include ../../common/_footer %>
		<% include ../../common/_js %>
	</body>

</html>
